README.md
**/node_modules/
.idea/
.vscode/
.fleet/
.git
npm-debug.log
.gitignore
.dockerignore
.editorconfig
nodemon.json
webpack.config.ts
jest.config.js
docker-compose.yml
.coverage
.coverage.*
.env
.aws
src/
